<div class="flex justify-content-center align-center">
    <div>
        <h1>Forget Password</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="forgetPasswordForm">
            <div class="card flex flex-wrap gap-3 p-fluid">
                <div class="flex-auto mb-2">
                    <label for="email">Email</label>
                    <input id="email" type="text" pInputText formControlName="email">
                    <div *ngIf="forgetPasswordForm.controls['email'].invalid && (forgetPasswordForm.controls['email'].dirty || forgetPasswordForm.controls['email'].touched)" class="red-text">
                        <div *ngIf="forgetPasswordForm.controls['email'].errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="forgetPasswordForm.controls['email'].errors?.['email']">
                            Invalid Email format.
                        </div>
                    </div>
                </div>
            </div>
            <p-button type="submit" onSubmit [disabled]="!forgetPasswordForm.valid" styleClass="w-full flex justify-content-center">Submit</p-button>
        </form>
    </div>
</div>

