<div class="flex justify-content-center align-center">
    <div>
        <h1>Login</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="block">
            <div>
                <div class="flex-auto mb-2" >
                    <label class="block font-bold mb-2" for="username">Email</label>
                    <input id="username" type="text" pInputText formControlName="username" class="w-full">
                    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="red-text">
                        <div *ngIf="loginForm.controls['username'].errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="loginForm.controls['username'].errors?.['username']">
                            Invalid Email format.
                        </div>
                    </div>
                </div>
                <div class="flex-auto mb-2" >   
                    <div>
                        <label class="block font-bold mb-2" for="password">Password</label>
                        <p-password formControlName="password" [feedback]="false" inputStyleClass="w-full" styleClass="w-full"/>
                        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="red-text">
                            <div *ngIf="loginForm.controls['password'].errors?.['required']">
                                Password is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-button type="submit" onSubmit [disabled]="!loginForm.valid" styleClass="w-full flex justify-content-center">Submit</p-button>
        </form>
    </div>
</div>
