<div class="flex gap-3 mb-3 px-1">
    <form [formGroup]="employeeFilterForm" class="flex-1">
        <div class="p-inputgroup ">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input id="name_substr" type="text" pInputText formControlName="name_substr" placeholder="Employee Name">
        </div>
    </form>

    <p-button (click)="openAddEmployeeDialogue()" label="Add Employee" icon="pi pi-plus-circle"></p-button>
    <p-button (click)="openImportEmployeesDialogue()" label="Import Employees" icon="pi pi-file-import"></p-button>
</div>

<div class="card">
    <p-table
        #dt1
        [value]="employees"
        dataKey="id"
        [totalRecords]="totalRecords"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [lazy]="true"
        (onPage)="onPageChanged($event)"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    > 
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Number
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Name
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Gender
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Phone Number
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>
                    {{ employee.number }}
                </td>
                <td>
                    {{ employee.first_name + ' ' + employee.last_name }}
                </td>
                <td>
                    {{ employee.gender }}
                </td>
                <td>
                    {{ employee.phone_number }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No Employees found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>